<div class="table__tr">
    <div class="table__td"><%= user.name %></div>
    <div class="table__td"><%= user.role %></div>
    <div class="table__td"><%= user.profile %></div>
    <div class="table__td"><%= user.email %></div>
    <div class="table__td"> <%= link_to "Edit", edit_user_path(user) %> </div>
</div>