<div class="left-group">
    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search anything"/>
    </div>  
</div>

<div class="right-group">
    <%if Current.user%>
        <div class="notification">
        <i class="fa-solid fa-bell"></i>
        </div>

        <div class="user">
            <%= image_tag("avatar.jpeg", alt: "avatar") %>
            <div class="user-details">
                    <%if Current.user.name %>
                        <div class="name">
                                <%=Current.user.name%>
                        </div>
                        <div class="title"><%=Current.user.role%></div>
                    <%else%>
                        <div class="name">
                            <%= Current.user.email%>
                        </div>
                    <%end%>
            </div>
        </div>

        <div class="logout">
                <%= button_to logout_path, method: :delete do%>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <%end%> 
        </div>

    <%else %>
        <div class="login">
             <%= link_to login_path do%>
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
             <%end%>
        </div>
    <%end%>
</div>