<div class="left-group">
    <div class="search-box">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search anything"/>
    </div>  
</div>

<div class="right-group">
    <%if Current.user%>
        <div class="notification">
        <i class="fa-solid fa-bell"></i>
        </div>

        <div class="user">
            <%= image_tag("avatar.jpeg", alt: "avatar") %>
            <div class="user-details d-flex flex-column">
                    <%if Current.user.name %>
                        <div class="name">
                                <%=Current.user.name%>
                        </div>
                        <div class="title"><%=Current.user.role%></div>
                    <%else%>
                        <div class="name">
                            <%= Current.user.email%>
                        </div>
                    <%end%>
            </div>
            <div class="dropdown">
                <i class="fa-solid fa-angle-down" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu">
                    <li><%= link_to "Edit Profile", profile_edit_path, class: "dropdown-item"%></li>
                </ul>
            </div>
        </div>

        <div class="logout">
                <%= button_to logout_path, method: :delete do%>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <%end%> 
        </div>

    <%else %>
        <div class="login">
             <%= link_to "Login", login_path, class: "btn btn-outline-secondary btn-sm"%>
                <%
=begin%>
 <i class="fa-solid fa-arrow-right-to-bracket"></i>
             <%end%> 
<%
=end%>
        </div>
    <%end%>
</div>